#agent table tr, #agent table th{
	text-align: center;
}

.table_paging{
	margin-top: 20px;
}

body{
	background-color: #2f4050 !important;
}

.navbar-brand{
	padding: 19px 15px;
}

.minimalize-styl-2 {
  padding: 8px 12px !important;
 }

.dropdown-menu{
	background-color: #2f4050 !important;
	color: #a7b1c2 !important;
}

 .dropdown-menu li a:hover, .nav-second-level li a:hover{
 	background-color: #293846 !important;
 	color: #ffffff !important;

 }

.nav-second-level li a:hover{
 	background-color: #2f4050 !important;

 }

.ibox-content{
	overflow: auto;
}

img#logo{
	width: 100px;
	margin-top: -5px;
}

.row {
	margin-bottom: 15px;
}

.ibox:hover .ibox-title{
	border-color: #1ab394;
}

.center{
	display: block;
	margin: 0 auto;
	text-align: center;
}

img.login{
	width: 35%;
	height: 75px;
}

div.login{
	margin-top: 30px;
}

div.login .ibox-content{
	margin-top: 17px;
	padding: 50px 0px 10px 0px !important;
	margin-bottom: 51px;
}

div.login button{
	width: 100%;
}

.nopadl{
	padding-left: 0px !important;
}

.nopadr{
	padding-right: 0px !important;
}

.login .ibox-content {
  overflow: hidden;
}

.login a{
	color: #1ab394;
}

.login h3{
  padding: 10px 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footnote {
  position: fixed;
  bottom: 5;
  width: 100%;
  margin: 0 auto;
  left: 40%;
  font-weight: bold;
}

.dataTables_length select{
	padding-top: 3px;
	padding-right: 0px;
}

.refresh{
	float: right;
	margin-right: 160px;
	margin-top: -3px;
	font-size: 25px !important;
}

li.dropdown:hover > a{
	color: #1c84c6;
}

.noFilter .dataTables_length, .noFilter .dataTables_filter, .noFilter .dataTables_info, .noFilter .dataTables_paginate, .noFilter table > tbody{
	display: none;
}

.noFilter, .noFilter > div{
	padding-bottom: 0px !important;
}

.btn-group-md{
	margin-bottom: 5px;
}

.btn-group-md .refresh{
	margin-right: 10px !important;
	margin-top: 5px !important;
}

.top_btns{
	float: right;
}

.top_btns a:first-child{
	font-size: 25px !important;
}

nav.navbar-default{
	background-color: #2f4050 !important;
	height: 100% !important;
}

.breadcrumb{
	background-color: transparent !important;
	/*margin-top: -px !important;*/
}

.breadcrumb li a:hover{
	text-decoration: underline !important;
}

.border-bottom{
	margin-bottom: 0px !important;
}

.widget.style1 h2 {
  font-size: 24px !important;
}

.navbar-static-side{
	position: fixed !important;
}

img.logo{
	width: 35%;
	height: auto;
}

.login .ibox-content p.m-t{
	text-align: right;
}