body {
    background-color: #f5f8fa !important;
    color: #6F6D6D;
}
.top-nav{
    /*background-color: #3097d1;*/
    background-color: #1B658E;
    border-color: #1c73a5;
}
.top-nav a{
    color: white;
}
.top-nav > li {
    background-color: #3097d1;
}
#sidebar {
    margin-top: 9px;
    position: fixed;
    max-height: 100%;
    padding-bottom: 100px;
    overflow: auto;
    background-color: #2C3E50;
    width: 268px;
}
.sidebar-nav {
    margin-top: 60px;
    position: fixed;
    overflow: auto;
    background-color: #2C3E50;
    width: 100%;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


.evt-text-box {
    border-color: #1c73a5;
    width: 120px;
}
.evt-text-box:hover {
    width: 180px;
}
.evt-margin-top-x5 {
    margin-top: 5px !important;
}
.evt-margin-top-x7 {
    margin-top: 7px !important;
}
.evt-margin-top-x15 {
    margin-top: 15px !important;
}
.evt-margin-top-x30 {
    margin-top: 30px !important;
}
.evt-margin-top-x50 {
    margin-top: 50px !important;
}
.evt-margin-top-x50-neg {
    margin-top: -50px !important;
}
.evt-margin-top-x80-neg {
    margin-top: -80px !important;
}
.evt-margin-top-x100 {
    margin-top: 100px !important;
}
.jumb-img {
    width: 100%;

    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}
.jumb-img1 {
    background-image: url("../img/jumb1.jpg");
}
.spinner{
    margin: 0% auto;
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position:center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 700px;
    display: none;
}
.spinner > .busy{
    display: block !important;
}
.layout-parent{
    list-style: none;
    right: 0;
    left: 0;
    margin-left: -40px;
}
.layout-parent li {
    float: left;
    height: 100%;
}
.col-1{
    width: 5%;
    background-color: black;
    position: fixed;
}
.col-2{
    width: 25%;
    background-color: #D0D3D6;
    position: fixed;
    margin-left: 5%;
    box-shadow: 4px 0px 6px #464646;
}
.col-3{
    width: 60%;
    margin-left: 35%;
    padding-top: 25px;
}
.col-4{
    width: 25%;
    margin-left: 101%;
    background-color: #D0D3D6;
    position: fixed;
    padding-top: 25px;
    box-shadow: 0 0 7px #252424;
}
.slider {
    margin-left: -44px;
    margin-top: -25px;
    position: fixed;
}
.dashboard-search{
    width: 100%;
    margin: 0px auto;
    background-color: #9e9e9e;
    padding: 7px;
    height: 50px;
    box-shadow: 0px 2px 1px #888888;
}
#profile-banner{
    width: 116%;
    background-color: black;
    height: 177px;
    margin: -128px 0px 0px -73px;
}
.banner-profile-name{
    text-align: center;
    padding-top: 60px;
}
.banner-profile-description{
    padding-top: 15px;
    text-align: justify;
    line-height: 21px;
}
.segment{
    margin-top: 30px;
    padding: 12px;
    border-left: solid 3px #479C2B;
    min-height: 100px;
    border-top: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    background-color: white;
}
.message-segment-flip{
    border-right: solid 3px #FF6A00;
    border-top: solid 1px #e9e9e9;
    border-left: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
}
.message-segment-normal{
    border-left: solid 3px #479C2B;
    border-top: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
}
.message-segment{
    margin-top: 10px;
    padding: 12px;
    min-height: 100px;
    background-color: white;
}
.reply-btn{
    float: right;
    margin-top: -36px;
}
.message-segment-time-sent{
    float: right;
    color: #B1B3B1;
    margin-top: -36px;
    font-size: 13px;
}
.segment-title{
    font-size: 16px;
    margin-bottom: 10px;
}
.banner-profile-img{
    margin: 103px auto;
    width: 110px;
}
.affix-banner-profile-img{
    width: 110px !important;
    position: fixed !important;
    margin-left: 50px !important;
}
.banner-action-btn{
    position: absolute;
    margin-top: 10px;
}
.affix-banner-profile-img img{
    width: 110px;
    position: fixed;
    margin-left: 50px;
}
.banner-profile-img img {
    width: 125px;
    border-radius: 50%;
    margin-top: 100%;
}
.dashboard-search-box {
    height: 35px;
    width: 100%;
    padding: 10px;
    border: solid 1px #8697A9;
    box-shadow: 0px 2px 2px #888888;
}
.card {
    margin: 0px 0px 0px 11px;
    width: 96%;
    min-height: 80px;
    background-color: white;
    box-shadow: 2px 2px 2px #9E9E9E;
    padding: 10px;
    margin-top: 10px;
}
.card-item {
    cursor: pointer;
}
.side-icon{
    font-size: 48px;
    margin: 10px auto;
    text-align: center;
    color: #616161;
    padding-left: 10px;
    cursor: pointer;
}
.side-icon:hover{
    color: #ffffff;
}
.side-icon > .icon-active{
    color: #ffffff !important;
}
.card ul {
    list-style: none;
}
.card-segment
{
    float: left;
}
.profile-img {
    width: 50px;
    border-radius: 50%;
}


.left-control-bar{
    background-color: black;
    position: fixed;
    height: 100%;
}


.home-action {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: #3097d1;
    border-bottom: #1c73a5 solid 1px;
    margin-bottom: 20px;
}
.jumb-overlay{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(2, 1, 1, 0.8);
    position: absolute;
}
.jumb-overlay-dark{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}
.off-nav-link {
    color: #3097d1 !important;
}
.login-drop-down {
    width: 250px;
    padding: 10px;
}
.icon {
    position: absolute;
    top: 58%;
    background: #f8f8f8;
    border: 0;
    width: 28px;
    height: 0px;
    right: 1px;
    margin-top: -20px;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin-left: 0px;
    color: #c3c8cd;
}
.min-event-description{
    text-decoration: none !important;
    font-size: 12px !important;
    color: #737373;
}
.home-title {
    font-size: 55px;
    color: white;
    font-weight: bold;
    margin-top: 46px;
}
.home-description {
    margin-top: 51px;
    font-size: 27px;
    color: white;
    line-height: 35px;
}
.home-banner-img{
    margin-top: 51px;
    width: 100%;
}
.page-container {
    margin-top: 50px;
    min-height: 500px;
    font-size: 12px;
}
.nav-search-panel {
    padding: 9px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 99.5%;
    border: solid 1px #e9e9e9;
}
.footer-banner {
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: #1B658E;
    border-top: #1c73a5 solid 1px;
}
.account-option {
    margin: auto;
    text-align: center;
    padding-top: 130px;
    font-size: 30px;
    color: #5D5D5D;
    font-weight: bolder;
}
.z-factor-5 {
    z-index: 10;
}
.event-item:hover {
    border: 1px solid #bcbcbc;
}
.event-item {
    cursor: hand;
}
.event-item a{
    text-decoration: none;
}
.event-container{
    margin-top: 150px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}
.event-container > .header-area {
    color: white;
}
.header-area {
    min-height: 184px;
    max-height: 184px;
    overflow: hidden;
}
.header-area h3{
    font-size: 40px;
    font-weight: bolder;
}
.header-area p {
    font-size: 14px;
    line-height: 27px;
}
.event-container > .even-actions {
    margin-top: 72px;
}
.event-page-container{
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}
.event-header-price {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-right: 25px;
}
.event-page-time2go {
    font-size: 30px;
}
.event-page-description {
    line-height: 25px;
}
.page-margin-top {
    margin-top: 200px;
}
.event-list-item {
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.thumbnail-event-description {
    min-height: 35px;
    max-height: 35px;
    overflow: hidden;
}
.thumbnail-event-image{
    height: 277px;
    overflow: hidden;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.panel-title-extra{
    max-height: 23px;
    overflow: hidden;
}
.event-menu-active
{
    background-color: #DBEAF7;
    border: solid 2px #1B658E;
}
.price-tag{
    height: 30px;
    min-width: 54px;
    width: auto;
    padding: 5px;
    position: absolute;
    float: right;
    background-color: white;
}
.floating-btn{
    position: absolute;
    margin-left: 82%;
}
/**
Timeline
**/
header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;
}
header h1 {
    color: white;
    font-size: 18px;
    font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }
    header h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #75ce66;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
.cd-timeline-img.cd-location {
    background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 13px;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 12px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
    .cd-timeline-content img{
        width: 80px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 3px;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.big-signup-msg {
    font-size: 60px;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 70px;
}
.filter_float {
    position: fixed;
    margin-top: -56px;
    width: 60%;
    z-index: 2;
}

/**** Cards ***********/
/*
body {
    background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}*/

.members {
    list-style: none;
}
.members li {
    float: left;
    width: 12%;
    margin: 2px 2px 2px 2px;
    border: solid 1px grey;
    padding-bottom: 10px;
}
.members-img {
    width: 100%;
    padding-bottom: 5px;
}
table{
    font-size: 12px !important;
}
