<h3>Preferences</h3>
<div class="segment">
    <div class="segment-title">Privacy</div>

</div>
<div class="segment">
    <div class="segment-title">Notifications</div>

</div>
<div class="segment">
    <div class="segment-title">Visibility</div>

</div>
